body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CONTACT SECTION */
.contact--name{
  font-size: small;
  margin: 0;
  padding-bottom: 5px;
}

.contact--section{
  height: 140px;
  width: 130px;
  padding: 5px 10px 50px;
  /* border: 5px solid #B22222; */
  border-radius: 10%;
  margin: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.contact--image{
  width: 130px;
  height: 130px;
  border-radius: 10%;
}

.contact--phone > img, .contact--phone > h1{
  margin: 0;
}

.contact--phone{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact--phone > img{
  height: 13px;
  width: 13px;
  padding-right: 5px;
}

.contact--phone > h1{
  font-size: 8px;
}

.contact--email > img, .contact--email > h1{
  margin: 0;
}

.contact--email{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact--email > img{
  height: 13px;
  width: 13px;
  padding-right: 5px;
}

.contact--email > h1{
  font-size: 8px;
}