*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50%;
}

.main--container {
  width: 360px;
  height: 379px;
  background-color: #0b2434;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub--container {
  width: 320px;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2B283A;  
  margin-top: 20px;
  margin-bottom: -12px;
}

p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #4A4E74;
  margin-bottom: 31px;
}

/* BUTTON SECTION */

.dice--button{
  width: 36px;
  height: 36px;
  color: #2B283A;
  border: none;
  border-radius: 10%;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 21px;
  -webkit-box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.17); 
  box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.17);
  cursor: pointer;
}

.button--section{
  display: grid;
  grid-template: auto auto/ repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 26px;
}

.roll--button{
  width: 92px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #5035FF;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin: 0;
}

.roll--button:focus{
  outline: none;
}

.roll--button:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0,0,0,0.7);
}

/* DICE FACES */
/* ONE */
.face--one{
   display: block;
   width: 12px;
   height: 12px;
   margin-left: 6px;
   border-radius: 50%;
   background-color:black
}

/* TWO */
.face--two{
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  margin-top: 5px;
}

.face--two .dot{
  width: 8px;
  height: 8px;
  background-color:black;
  border-radius: 50%;
}

.face--two .dot:nth-of-type(1){
  margin-left: 0px;
}

.face--two .dot:nth-of-type(2){
  margin-left: 18px;
  margin-top: 10px;
}

/* THREE */
.face--three{
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  margin-top: 5px;
}

.face--three .dot{
  width: 8px;
  height: 8px;
  background-color:black;
  border-radius: 50%;
}

.face--three .dot:nth-of-type(1){
  margin-left: 0px;
}

.face--three .dot:nth-of-type(2){
  margin-left: 9px;
}

.face--three .dot:nth-of-type(3){
  margin-left: 18px;
}

/* FOUR */

.face--four{
  display: flex;
  margin-bottom: 15px;
  flex-direction: row;
  margin-top: 5px;
  justify-content: space-between;
}

.face--four section{
  display: flex;
  flex-direction: column;
}

.face--four section .dot{
  width: 8px;
  height: 8px;
  background-color:black;
  border-radius: 50%;
}

.face--four section .dot:nth-child(1){
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 10px;
}