*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FB;
  background-image: url("./images/blob_blue.svg"), url("./images/blob_yellow.svg");
  background-repeat: no-repeat;
  background-position-x: left, right;
  background-position-y: 80vh, top;
  background-size: auto;
  margin-top: 10%;
}

/* START SCREEN */

.start--summary > *{
  margin: 0;
  font-family: "Inter", sans-serif;
}

.start--summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.start--summary > h1{
  margin-bottom: 7px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #293264;
}

.start--summary > h2{
  margin-bottom: 29px;
  font-weight: 400;
  color: #293264;
  text-align: center;
}

.start--summary > button{
  font-weight: 500;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  background-color: #4D5B9E;
  color: white;
  border: none;
  cursor: pointer;
}

.start--summary > button:focus{
  outline: none;
}

.start--summary > button:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0,0,0,0.7);
}

/* QUIZZ PAGE */

/* QUESTION */

.question--section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question--section > *{
  margin: 0;
}

.question--section > h1{
  color: #293264;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
  align-items: flex-start;
}

.question--section div > button{
  max-width: 50%;
  height: 20px;
  border-radius: 7px;
  border-width: 0.77px;
  border-color: #4D5B9E;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #293264;
  background-color: white;
  text-align: center;
  margin-right: 1%;
  font-size: 10px;
}

.buttons--div{
  display: flex;
  flex-direction: row;
}

.hr--linediv{
  margin-top: 15px;
  background-color: #DBDEF0;
  width: 80%;
  height: 0.79px;
  border: none;
  margin-left: 5%;
  margin-bottom: 16px;
}

.manager--button{
    font-weight: 500;
    min-width: 120px;
    min-height: 35px;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}