*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

/* MAIN CONTAINER */
.main--container {
  width: 550px;
  height: 704px;
  background-color: white;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

/* NAVBAR */

.nav {
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 55px;
}

.nav > * {
  margin: 0;
}

.nav > img {
  padding-right: 7px;
}

.nav > h1 {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: white;
}

/* CONTENT BOX */
.summary--section {
  display: flex;
  flex-direction: row;
  /* padding: 40px 20px; */
  padding-bottom: 18px;
  /* border-bottom: 1px solid #F5F5F5; */
  /* border-style: solid none; */
  margin: 20px 40px;
}

.summary--section > img {
  width: 125px;
  height: 168px;
  padding-right: 19px;
}

.summary--section > h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
}

.info--section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.info--section > * {
  margin: 0;
}

.info--section > h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
  padding-bottom: 20px;
}

.info--section > h2 {
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
  padding-bottom: 9px;
}

.info--section > p {
  font-weight: 400;
  font-size: 10.24px;
  color: #2b283a;
  width: 326px;
  height: 45px;
}

.location--section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 7px;
}

.location--section > * {
  margin: 0;
}
.location--section > img {
  padding-right: 4px;
}

.location--section > h1 {
  font-weight: 400;
  color: #2b283a;
  font-size: 10px;
  letter-spacing: 0.17em;
  line-height: 12px;
  font-style: normal;
  width: 40px;
  margin-right: 12px;
}

.location--section > h2 {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}
