*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* APP CONTAINER */
.app-container {
  width: 550px;
  height: 550px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* HEADER */
.header {
  width: 550px;
  height: 65px;
  color: white;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px;
}

.header--image {
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

/* MEME */

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding: 36px;
}

.form--button {
  grid-column: 1/-1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.random--img {
  max-width: 100%;
  /* height: 100%; */
  border-radius: 2px;
}

/* STATE */
.counter {
  display: flex;
  align-items: flex-end;
}

.counter > button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #d9d9d9;
  font-size: 1.5rem;
}

.counter > button:hover {
  background-color: #404040;
  color: #d9d9d9;
}

.counter > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
}
